{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


    <div class="container">

        {{ include('post/show_success_message.html.twig') }}

        {{ form(form)}}
        {{ include('post/button_all_posts.html.twig') }}

    </div>
{% endblock %}
